.page-header{
    background-image: url("../img/bambou.jpg");
    transform: translate3d(0px,0px,0px);
}

.header-filter{
    position: relative;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

#title{
    background-color: rgba(15,157,88,0.7);
    padding-left: 15px;
    padding-right: 15px;
}

.title{
    text-align: center;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(15,157,88,0.7);
    /*background-color: darkgreen;*/
    /*opacity: 0.5;*/
}


a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.main{
    background-color: rgb(226, 226, 226);
}

p{
    text-align: justify;
}

#logo{
    padding-top: 20px;
}
.container{
    width: 90%;
    text-align: center;
}

#carousel-text{
    text-align: center;
}

#carousel{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.carousel-caption{
    background-color: rgba(192,192,192,0.7);
    border-radius: 10px;
}

.bg{
    background:transparent;
}

.bg.scrolled{
    background-color: #0b75c9;
}

.parallax{
    background-color: #0b75c9;
    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}